<h1>Stupid Coaching</h1>
<h3>Ask your coach anything</h3>

<form action="/answer" metod="get" data-turbo="false">
  <input type="text" name="quesion" placeholder="What do you have to say?">
  <input type="submit" value="Ask!">
</form>
